<article class="mod-article">
  <div class="mp-content mp-content--event">
    <% include included/standardContent.ejs %>
  </div>
  <% if(event.images.length){%>
    <div class="mart--medias">
      <%
      for(var i=0; i< event.images.length; i++){
        var image = event.images[i]; %>
        <div class="mart--media">
          <img src="<%- image.path %>" alt="<%- image.title %>" />
        </div>
      <%}%>
    </div>
  <%}%>
</article>
