<div class="test">

.container-narrow
  .masthead
    ul(class="nav nav-pills pull-right")
      li
        a(href="#") Home
      li
        a(href="#") About
      li
        a(href="#") Contact
    h3(class="muted") #{title}
    hr
    div(class="jumbotron")
      h1 Demo NodeJs
      p(class="lead") #{text}
//      a(class="btn btn-success", id="btn") By Code4Fun.fr
//:coffeescript
//       $('#btn').click ->
//         $('.lead').toggle()

</div>
