doctype
html
  head
    block head
    link(rel='stylesheet', href='/styles/main.css')
    script(type='text/javascript', src='/scripts/libraries/jquery-min.2.1.1.js')
  body
    include context.jade
    block navigation
    block header
    block content
    script(type='text/javascript', src='/scripts/frameworks/bootstrap.js')
    script(type='text/javascript', src='/scripts/main.js')
