<!DOCTYPE html>
<html lang="<%- meta.isErrorPage ? 'fr' : website.docLanguage %>">
  <head>
    <% include included/head.ejs %>
    <meta charset="utf-8" />

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link rel="icon" href="/medias/images/favicon.ico" />
    <link href="/styles/main.css" rel="stylesheet" />
    <script type="text/javascript" src="/scripts/libraries/jquery-min.2.1.1.js"></script>
  </head>
  <body>
    <% include included/context.ejs %>
    <% if(!meta.isErrorPage()){%>
      <% include included/navigation.ejs %>
      <% include included/breadcrumb.ejs %>
    <%}%>
    <div class="mod-page">
      <% include included/header.ejs %>
      <div class="container">
        <% if(meta.isRightAsidesLayout()){%>
          <div class="row">
            <div class="col-md-9">
              <div class="mp--main-content">
                <%- body %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mp--asides">
                <% include included/asides.ejs %>
              </div>
            </div>
          </div>
        <%}else{%>
          <div class="mp--main-content">
            <%- body %>
          </div>
        <%}%>
      </div>
    </div>
    <% include included/footer.ejs %>
    <script type="text/javascript" src="/scripts/frameworks/bootstrap.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>
  </body>
</html>
