extends ../layout

block head
    include ../included/head.jade

block header
    include ../included/header.jade

block content
    .container-narrow
        h1(class="muted") #{page.title}
        hr
        div(class="jumbotron")
          p(class="lead") #{page.description}
