body{
    background-color: #e7e7e7;
    background-image: url(/medias/images/bg.jpg);
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;
    padding-top: 60px;
}

.mod-page {
  .mp--main-content, .mp--aside{
    background-color: white;
    border: 1px black solid;
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
  }
  .mp--asides{

  }
}

.mod-main-navigation{
  .mn--logo{
    img{
      height: 100%;
    }
  }
  .mn--navbar{
    & > li{
      & > a.active{
        color: white;
      }
    }

    .dropdown-menu{
      .active{
        color: black;
        text-decoration: underline;
      }
    }
  }
}

.mod-breadcrumb{
  a{
      color: $breadcrumb-active-color;
      font-weight: bold;
    }
}
