body{
    background-color: white;
    background-image: url(/medias/images/bg.png);
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

.jumbotron{
  background-color: transparent;
}

.mod-content.mod-content--main {
  background-color: white;
  border: 1px black solid;
}
