body{
    background-color: #e7e7e7;
    background-image: url(/medias/images/bg.jpg);
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;
    padding-top: 70px;
}

.mod-aside{
  h1{
    font-size: 1.5em;
  }
  ul{
    padding-left: 0;
  }
  li{
    list-style: none;
    padding-bottom: 15px;
  }
  .ma--more{
    display: block;
  }
  .ma--item-title{
    display: block;
    font-weight: bold
  }
}

.mod-page {
  .mp--main-content{
    hr{
      border-color: $gray-light;
      margin: 0 10%;
    }
  }
  .mp--main-content, .mod-aside{
    background-color: rgba(255,255,255, 0.55);
    border: 1px black solid;
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
  }
  .mp--asides{

  }
}

.mod-main-navigation{
  .mn--logo{
    img{
      height: 100%;
    }
  }
  .mn--navbar{
    & > li{
      & > a.active{
        color: white;
      }
    }

    .dropdown-menu{
      .active{
        color: black;
        text-decoration: underline;
      }
    }
  }
}

.mod-breadcrumb{
  a{
      color: $breadcrumb-active-color;
      font-weight: bold;
    }
}

.mod-block{
  display: block;
}

.mod-header-banners{
  margin-bottom: 20px;
  border: 1px solid black;
  .item{
    background: #333;
    background-size: 100%;
    text-align: center;
    height: 300px !important;
    h1{
      font-size: 24px;
    }
    h2{
      font-size: 40px;
    }
    h1, h2, h3, p{
      display: inline-block;
      padding: 4px 8px 6px 8px;
      color: white;
      background-color: rgba(0,0,0, 0.67);
      }
  }
  .carousel-indicators{
    bottom: 5px;
  }
}

.mod-footer{
  padding: 40px;

  .mf--links{
    padding-left: 0;
    padding-right: 0;
    li{
      display: inline-block;
      a{
        color: $hot;
      }
      &:before{
        display: inline-block;
        content: '|';
      }
      &:first-child:before{
        display: none;
      }
    }
  }
  .mf--copyright{
  }
}

.mod-articles{
  .marts--title-link{
    h1{
      color: $text-color;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .marts--items{}
  .marts--item{
    h1{
      font-size: 1.75em;
    }
  }
  .marts--item-date{
    font-size: 1.25em;
    font-style: italic;
  }
  .marts--item-title{
    display: block;
    font-weight: bold;
  }
  .marts--item-more{
    display: inline-block;
    margin-bottom: 15px;
  }
  .marts--item-medias{}
  .marts--item-media{
    text-align: left;
    img{
      max-width: 98%;
    }
  }

  &.mod-articles--project-category{
    h1{
      font-size: 1.75em;
      display: inline-block;
      margin: 0 0 15px 0;
    }
    ul{
      padding: 0;
    }
    li{
      display: inline-block;
      margin-bottom: 40px;
      list-style: none;
    }
  }
  &.mod-articles--events{
    .marts--item{
      h1{
        margin-top: 0;
      }
      h2{
        margin-bottom: 0;
      }
    }
  }
}

.mod-article{
  .mart--medias{
    margin-top: 40px;
  }
  .mart--media{
    text-align: center;
    margin-bottom: 15px;
    img, iframe{
      max-width: 100%;
    }

  }
}

.mod-article-categories{
  .macats--items{
    margin-top: 40px;
  }
}
