extends ../layout

block head
    include ../included/head.jade

block navigation
    include ../included/navigation.jade

block header
    include ../included/header.jade

block content
    .container
        p TEST
