extends ../layout

block head
    include ../included/head.jade

block header
    include ../included/header.jade

block content
    h1(class="muted") #{page.title}
    div(class="jumbotron")
      p(class="lead") #{page.description}
