<% if(meta.isErrorPage()) {%>
  <title>LabX | Error</title>
<%} else {%>
  <title><%- page.docTitle %></title>
  <meta name="description" content="<%- page.docDescription %>" />
  <meta name="keywords" content="<%- page.docKeywords %>" />
  <meta name="author" content="<%- website.docAuthor %>" />
<%}%>
