<% if(meta.hasError()) {%>
  <title>LabX | Error</title>
<%}%>
<% if(!meta.hasError()) {%>
  <title><%- website.title + ' | ' + page.docTitle %></title>
  <meta name="description" content="<%- page.docDescription %>" />
  <meta name="keywords" content="<%- page.docKeywords %>" />
  <meta name="author" content="<%- website.author %>" />
<%}%>
