header(class="jumbotron subhead")
  .row
    .span6
      h1 #{website.title}
      p(class="lead") #{website.subtitle}
  .subnav
    ul(class="nav nav-pills")
      each p in allPages
        li
            if(p.name == page.name)
                a(class="active", href= p.url) #{p.shortTitle}
            else
                a(href= p.url) #{p.shortTitle}
