.masthead
    ul(class="nav nav-pills pull-right")
      li
        a(href="/") Accueil
      li
        a(href="/about") À propos
      li
        a(href="/contact") CV
      li
        a(href="/project/test") Projets
